.searchItem{
    border:1px solid lightgray;
    padding: 10;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.itemImg{
    width: 200px;
    height: 195px;
    object-fit: cover;
    border-radius: 10px;
}

.itemDescription{
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 2;
}

.itemDetails{
    flex:1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.itemRating{
    display: flex;
    justify-content: space-between;
}

.itemRating>span{
    font-weight: 500;
}

.itemRating>button{
    background-color: rgb(65, 126, 65);
    color: white;
    border:none;
    border-radius: 10px;
    font-weight: bold;
    padding: 5px;
    margin-right: 10px;
}   

.itemText{
    text-align: right;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.itemDetails>button{
    background-color: rgb(65, 126, 65);
    color: white;
    width: 150px;
    height: 30px;
    border: none;
    border-radius: 10px;
    margin-bottom: 10px;
    cursor: pointer;
}

.itemPrice{
    display: flex;
    align-items: center;
}